.main{
    width: 100%;
    min-height:600px;
    position: relative;
}

#chg{
    position: absolute;
}

input , select{
    width: 150px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
}

#scWidth, #scHeight, #scBR, #scMargin, #scPadding, #scPositionTop, #scPositionLeft{
    width: 60px;
    height: 30px;
}

.control{
    width: 100%;
    min-height:600px;
    background-color: #f3f3f3;
    padding: 20px;
    box-sizing: border-box;
}

.CP{
    font-size: 30px;
    color: red;
}